@page "{locationId}/{name?}"
@using ApplicationStatusMonitor.Pages.Shared
@model MonitorStatusModel
@{
   ViewData["Title"] = "Monitor Status History";
}
<h3>Monitor Status History for @Model.FormattedName()</h3>
@await Html.PartialAsync("_StatusListPartial", new StatusListPartialModel
{
   ShowConfirmed = false,
   StatusMonitorReplies = Model.StatusReplies
})
