@page
@using ApplicationStatusMonitor.Pages.Shared
@model RecentUnhealthyModel
@{
   ViewData["Title"] = "Recently Unhealthy Monitors";

}

<h3>Recently Unhealthy Monitors</h3>
@await Html.PartialAsync("_StatusListPartial", new StatusListPartialModel
{
   ShowConfirmed = false,
   StatusMonitorReplies = Model.StatusReplies
})


