@page
@using ApplicationStatusMonitor.Pages.Shared
@model UnhealthyModel
@{
   ViewData["Title"] = "Unhealthy Monitors";

}

<h3>All Currently Unhealthy Monitors</h3>
@await Html.PartialAsync("_StatusListSplitPartial", new StatusListSplitPartialModel
{
   StatusMonitorReplies = Model.StatusReplies
})
