ul.statusList {
   background: beige;
   display: table;
   margin: 5px;
   list-style-type: none;
   padding-left: 0;
}

ul.statusList li {
   display: table-row;
   padding: 1px;
   /*     border: 1px solid red; */
}

ul.statusList li.heading {
   font-weight: bold;
   background-color: darkgray;
}

ul.statusList li > * {
   display: table-cell;
   padding: 5px;
   /*     border: 1px solid green; */
}

ul.statusList li span:nth-child(n+4):nth-child(-n+6) {
   display: none;
}

ul.statusList li.up {
   background-color: lightgreen;
}

ul.statusList li.down {
   background-color: pink;
}

ul.statusList li.timeout {
   background-color: orange;
}

ul.statusList a:link, ul.statusList a:visited {
   color: #4b4b4b;
}

@media screen and (min-width: 1024px) {
   ul.statusList li span:nth-child(n+4):nth-child(-n+6) {
      display: table-cell;
   }
}