@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
   <span>Hello @User.Identity.Name!</span><a href="#" onclick="event.preventDefault(); signout();" class="button">Logout</a>
    <form id="signoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" style="display: none">
       <button  type="submit">Logout</button>
    </form>
}
else
{
   <a asp-area="Identity" asp-page="/Account/Login" class="button">Login</a>
}

<script>
   function signout() {
      document.getElementById("signoutForm").submit();
   }
</script>